# Esercizi con Chinook-it

## Connessione al database e impostazione dell'output

In [ ]:
--% dbcon:{"dbfile" : "chinook-it.sqlite"}
--% ohtml

CONNECTED
Output mode set to html

In [ ]:
--% toc

## Query semplici

### SELECT, FROM e LIMIT

### Elenca tutte le righe della tabella sui formati multimediali

In [ ]:
SELECT *
FROM FormatoMultimediale

FormatoMultimedialeId,Nome
1,MPEG audio file
2,Protected AAC audio file
3,Protected MPEG-4 video file
4,Purchased AAC audio file
5,AAC audio file

### Elenca solo il nome del formato multimediale

In [ ]:
SELECT Nome
FROM FormatoMultimediale

Nome
MPEG audio file
Protected AAC audio file
Protected MPEG-4 video file
Purchased AAC audio file
AAC audio file

### Elenca le prime 10 righe della tabella clienti

In [ ]:
SELECT *
FROM Cliente
LIMIT 10

ClienteId,Nome,Cognome,Societa,Indirizzo,Citta,Stato,Nazione,CodicePostale,Telefono,Fax,Email,AssistenteId
1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
4,Bjørn,Hansen,None,Ullevålsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4
5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4
6,Helena,Holý,None,Rilská 3174/6,Prague,None,Czech Republic,14300,+420 2 4177 0449,None,hholy@gmail.com,5
7,Astrid,Gruber,None,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,None,Austria,1010,+43 01 5134505,None,astrid.gruber@apple.at,5
8,Daan,Peeters,None,Grétrystraat 63,Brussels,None,Belgium,1000,+32 02 219 03 03,None,daan_peeters@apple.be,4
9,Kara,Nielsen,None,Sønder Boulevard 51,Copenhagen,None,Denmark,1720,+453 3331 9991,None,kara.nielsen@jubii.dk,4
10,Eduardo,Martins,Woodstock Discos,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,+55 (11) 3033-5446,+55 (11) 3033-4564,eduardo@woodstock.com.br,4

### Elenca nome e cognome dei primi 10 clienti

In [ ]:
SELECT Nome, Cognome
FROM Cliente
LIMIT 10;

Nome,Cognome
Luís,Gonçalves
Leonie,Köhler
François,Tremblay
Bjørn,Hansen
František,Wichterlová
Helena,Holý
Astrid,Gruber
Daan,Peeters
Kara,Nielsen
Eduardo,Martins

## LIMIT e ORDER BY

### Elenca le 10 fatture più recenti elencando FatturaId, DataFatturazione e Totale

In [ ]:
SELECT FatturaId, DataFatturazione, Totale
FROM Fattura
ORDER BY DataFatturazione DESC
LIMIT 10

FatturaId,DataFatturazione,Totale
412,2013-12-22 00:00:00,1.99
411,2013-12-14 00:00:00,13.86
410,2013-12-09 00:00:00,8.91
409,2013-12-06 00:00:00,5.94
408,2013-12-05 00:00:00,3.96
406,2013-12-04 00:00:00,1.98
407,2013-12-04 00:00:00,1.98
405,2013-11-21 00:00:00,0.99
404,2013-11-13 00:00:00,25.86
403,2013-11-08 00:00:00,8.91

### Elenca le 6 fatture con gli importi maggiori indicando FatturaId, DataFatturazione e Totale

In [ ]:
SELECT FatturaId, DataFatturazione, Totale
FROM Fattura
ORDER BY Totale DESC
LIMIT 6

FatturaId,DataFatturazione,Totale
404,2013-11-13 00:00:00,25.86
299,2012-08-05 00:00:00,23.86
96,2010-02-18 00:00:00,21.86
194,2011-04-28 00:00:00,21.86
89,2010-01-18 00:00:00,18.86
201,2011-05-29 00:00:00,18.86

### Elenca FatturaId, DataFatturazione e Totale delle prime 12 fatture ordinate per importo totale, dal più grande al più piccolo, e per data, dalla meno recente alla più recente

In [ ]:
SELECT FatturaId, DataFatturazione, Totale
FROM Fattura
ORDER BY Totale DESC, DataFatturazione
LIMIT 12

FatturaId,DataFatturazione,Totale
404,2013-11-13 00:00:00,25.86
299,2012-08-05 00:00:00,23.86
96,2010-02-18 00:00:00,21.86
194,2011-04-28 00:00:00,21.86
89,2010-01-18 00:00:00,18.86
201,2011-05-29 00:00:00,18.86
88,2010-01-13 00:00:00,17.91
306,2012-09-05 00:00:00,16.86
313,2012-10-06 00:00:00,16.86
103,2010-03-21 00:00:00,15.86
208,2011-06-29 00:00:00,15.86
193,2011-04-23 00:00:00,14.91

## WHERE - Operatori relazionali

### Elenca le righe relative ai clienti la cui nazione di residenza sia 'Italy'

In [ ]:
SELECT *
FROM Cliente
WHERE Nazione = "Italy"

ClienteId,Nome,Cognome,Societa,Indirizzo,Citta,Stato,Nazione,CodicePostale,Telefono,Fax,Email,AssistenteId
47,Lucas,Mancini,None,"Via Degli Scipioni, 43",Rome,RM,Italy,00192,+39 06 39733434,None,lucas.mancini@yahoo.it,5

### Elenca FatturaId, DataFatturazione e Totale delle fatture con Totale maggiore o uguale a 18

In [ ]:
SELECT FatturaId, DataFatturazione, Totale
FROM Fattura
WHERE Totale >= 18

FatturaId,DataFatturazione,Totale
89,2010-01-18 00:00:00,18.86
96,2010-02-18 00:00:00,21.86
194,2011-04-28 00:00:00,21.86
201,2011-05-29 00:00:00,18.86
299,2012-08-05 00:00:00,23.86
404,2013-11-13 00:00:00,25.86

### Elenca TracciaId, Nome e Millisecondi delle tracce che hanno una durata di almeno 49 minuti

In [ ]:
SELECT TracciaId, Nome, Millisecondi
FROM Traccia
WHERE Millisecondi >= 49 * 60 * 1000

TracciaId,Nome,Millisecondi
2820,Occupation / Precipice,5286953
3224,Through a Looking Glass,5088838
3226,"Battlestar Galactica, Pt. 1",2952702
3227,"Battlestar Galactica, Pt. 2",2956081
3242,The Man With Nine Lives,2956998
3244,"Greetings from Earth, Pt. 1",2960293

### Elenca TracciaId, Nome e Byte delle tracce che hanno una dimensione in byte inferiori al milione di byte¶

In [ ]:
SELECT TracciaId, Nome, Byte
FROM Traccia
WHERE Byte < 1000000

TracciaId,Nome,Byte
168,Now Sports,161266
170,A Statistic,211997
172,The Real Problem,387360
178,Oprah,224313
2241,Bossa,967098
2461,É Uma Partida De Futebol,38747
3304,Commercial 1,319888
3310,Commercial 2,850698

## WHERE - Operatori LIKE, NOT, IN

### Elenca i clienti che si chiamano 'Helena'

In [ ]:
SELECT *
FROM Cliente
WHERE nome LIKE 'Helena'

ClienteId,Nome,Cognome,Societa,Indirizzo,Citta,Stato,Nazione,CodicePostale,Telefono,Fax,Email,AssistenteId
6,Helena,Holý,None,Rilská 3174/6,Prague,None,Czech Republic,14300,+420 2 4177 0449,None,hholy@gmail.com,5

### Elenca i clienti il cui nome inizia per 'H'

In [ ]:
SELECT *
FROM Cliente
WHERE nome LIKE 'H%'

ClienteId,Nome,Cognome,Societa,Indirizzo,Citta,Stato,Nazione,CodicePostale,Telefono,Fax,Email,AssistenteId
6,Helena,Holý,None,Rilská 3174/6,Prague,None,Czech Republic,14300,+420 2 4177 0449,None,hholy@gmail.com,5
22,Heather,Leacock,None,120 S Orange Ave,Orlando,FL,USA,32801,+1 (407) 999-7788,None,hleacock@gmail.com,4
36,Hannah,Schneider,None,Tauentzienstraße 8,Berlin,None,Germany,10789,+49 030 26550280,None,hannah.schneider@yahoo.de,5
46,Hugh,O'Reilly,None,3 Chatham Street,Dublin,Dublin,Ireland,None,+353 01 6792424,None,hughoreilly@apple.ie,3

### Elenca i clienti il cui cognome contiente almeno una lettera 'x'

In [ ]:
SELECT *
FROM Cliente
WHERE Nome LIKE '%X%'

ClienteId,Nome,Cognome,Societa,Indirizzo,Citta,Stato,Nazione,CodicePostale,Telefono,Fax,Email,AssistenteId
11,Alexandre,Rocha,Banco do Brasil S.A.,"Av. Paulista, 2022",São Paulo,SP,Brazil,01310-200,+55 (11) 3055-3278,+55 (11) 3055-8131,alero@uol.com.br,5

### Elenca clienti i cui nomi contengono almeno 3 lettere 'a'

In [ ]:
SELECT *
FROM Cliente
WHERE Nome LIKE '%a%a%a%'

ClienteId,Nome,Cognome,Societa,Indirizzo,Citta,Stato,Nazione,CodicePostale,Telefono,Fax,Email,AssistenteId
35,Madalena,Sampaio,None,"Rua dos Campeões Europeus de Viena, 4350",Porto,None,Portugal,None,+351 (225) 022-448,None,masampaio@sapo.pt,4

### Elenca i clienti il cui nome è lungo esattamente 3 caratteri

In [ ]:
SELECT *
FROM Cliente
WHERE Nome LIKE '___'

ClienteId,Nome,Cognome,Societa,Indirizzo,Citta,Stato,Nazione,CodicePostale,Telefono,Fax,Email,AssistenteId
19,Tim,Goyer,Apple Inc.,1 Infinite Loop,Cupertino,CA,USA,95014,+1 (408) 996-1010,+1 (408) 996-1011,tgoyer@apple.com,3
20,Dan,Miller,None,541 Del Medio Avenue,Mountain View,CA,USA,94040-111,+1 (650) 644-3358,None,dmiller@comcast.com,4

### Elenca i clienti il cui nome termina in 's'

In [ ]:
SELECT *
FROM Cliente
WHERE Nome LIKE '%s'

ClienteId,Nome,Cognome,Societa,Indirizzo,Citta,Stato,Nazione,CodicePostale,Telefono,Fax,Email,AssistenteId
1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
38,Niklas,Schröder,None,Barbarossastraße 19,Berlin,None,Germany,10779,+49 030 2141444,None,nschroder@surfeu.de,3
47,Lucas,Mancini,None,"Via Degli Scipioni, 43",Rome,RM,Italy,00192,+39 06 39733434,None,lucas.mancini@yahoo.it,5
48,Johannes,Van der Berg,None,Lijnbaansgracht 120bg,Amsterdam,VV,Netherlands,1016,+31 020 6223130,None,johavanderberg@yahoo.nl,5
57,Luis,Rojas,None,"Calle Lira, 198",Santiago,None,Chile,None,+56 (0)2 635 4444,None,luisrojas@yahoo.cl,5